@using Blog.Controllers
@using Blog.Models
@model Blog.Models.PostsModel

@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
http://www.w3.org/TR/html4/loose.dtd" >

<html>
<head>
<title>Блог</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="site">
		<div id="header">																																																																																																			
			<ul id="menu">
				<li class="home"><a href="@Url.Action("Posts", "Posts")">Главная</a></li>
				<li><a href="@Url.Action("Registration", "Home")">Регистрация</a></li>
				<li><a href="@Url.Action("Index", "Home")">Выход</a></li>
			</ul>
			
			<a href="@Url.Action("Posts", "Posts")" class="logo"><img src="@Url.Content("~/Content/images/logo.png")" alt="Записи JavaScript,HTML,CSS"/></a>
		    
		</div>
		<div id="content">
			<div id="wrapper">
				<div id="main">
					<div id="posts">
						<h2>Мои работы</h2>
						@foreach (var item in Model.PItems)
						{
						    string str;
						    string path;
						    str = "Comm/" + item.id;
                            if (item.Image != null) { path = "~/Content/images/" + item.Image; }
                            else { path = "~/Content/images/photo1.jpg"; }
						<div class="post">
							<h1 class="title">@item.Name</h1>
							<a href="#"><img src="@Url.Content(path)" alt="" width="580" height="285" /></a>
						    <p>@item.Text </p>
						    <p>@item.Date </p>
						    @{
						        if (Model.reg && Model.PerId == 1)
						        {
						            
						        
                                
                            
						            <h4>Добавить картинку</h4>
                                        
						            <form action="@Url.Action("AddImage", "Posts")" method="POST" enctype="multipart/form-data">
                                         
						                <input type="file" name="file" />
						                <input type="submit" value="OK" />
						            </form>
              
                                }
                            }

						
                           
							
							
						</div>
						}	
                         @foreach (var item in Model.Items)
                             {
                                <div class="post">
                    
                       
                                    >>@item.Email
                                    <br/>
                        
                                    @item.Message                   
                                    <br/>
                                    @{
                                        if (Model.reg && Model.PerId == 1)
                                        {
                                            <div class="more">
                                                @Html.ActionLink("Удалить", "Del", new {delid = item.Id,})
                                            <br/>
                                         
                                            
                                            </div>
                                        
                            
                                        }
                                    }                
           
                                </div>
                                <br/>
                             }	
                        
					    <div class="post">
					        @{
					            if (Model.reg)
					            {




					                <form action="Comm" method="POST">
					        
                                        <h4>E-mail:</h4>
					                    @Html.TextBoxFor(m => m.PostModel.Email)
					                    @Html.ValidationMessageFor(m => m.PostModel.Email)
					                    <br/>
                                        <h4>Сообщение:</h4>
					                    @Html.TextAreaFor(m => m.PostModel.Message)
					                    <br/>
					                    <br/>
					                    <input type="submit" value="Отправить" />
					        

					                </form>
					            }
					        }
                            <br/>
					        <div class="more1">
					            @Html.ActionLink("Назад", "Posts")
					        </div>

					    </div>
                    
                            
                        
                        
                        																																																																																																																
					    <div id="pager">
							<a href="#" class="previous">Передыдущая страница</a>
							<ul>
								<li><a href="#" id="active">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">6</a></li>
								<li><a href="#">7</a></li>
								<li><a href="#">8</a></li>
								<li><a href="#">9</a></li>
							</ul>
							<a href="#" class="next">Следущая страница</a>
						</div>
					</div>
				</div>
				<div id="sidebar">
					
					
			         <br>
                    <br>
                    <h2>Шутко Алексей</h2>
					<div class="about">
						<img src="@Url.Content("~/Content/images/photoname.jpg")" alt="" width="251" height="251" />
						<p>гр. 110901 </p>
						
					</div>
					
				</div>
			</div>
		</div>
		<div id="footer">
			<div id="bottom_menu">
				<ul>
					<li><a href="@Url.Action("Posts", "Posts")">Главная</a></li>
					<li>|<a href="@Url.Action("Registration", "Home")">Регистрация</a></li>
				    <li>|<a href="@Url.Action("Index", "Home")">Выход</a></li>

				</ul>
			</div>
		</div>
	</div>
</body>
</html>